<div class="footer-wrapper">
    <div class="Section--dividerTop" id="site-footer">
        <footer role="contentinfo" class="Section Section-footer">
            <div class="container">
                <div class="FooterCols">
                         <div class="grid">
                            <div class="grid__item   one-fifth lap--one-half palm--one-whole">
                                <h4 class="FooterList-title">
                                    Product
                                </h4>
                                <ul class="FooterList">
                                    <li class="FooterList-item">
                                        <a class="FooterList-link" href="http://cloud66.com/products">
                                            Product Overview
                                        </a>
                                    </li>
                                    <li class="FooterList-item">
                                        <a class="FooterList-link" href="http://cloud66.com/products/docker">
                                            Cloud 66 for Docker
                                        </a>
                                    </li>
                                    <li class="FooterList-item">
                                        <a class="FooterList-link"  href="http://cloud66.com/products/rails">Cloud 66 for Rails</a>
                                    </li>
                                    <li class="FooterList-item">
                                        <a class="FooterList-link" href="http://cloud66.com/features">Features</a>
                                    </li>
                                    <li class="FooterList-item">
                                        <a class="FooterList-link" href="http://cloud66.com/faq">FAQ</a>
                                    </li>
                                    <li class="FooterList-item">
                                        <a class="FooterList-link" href="http://cloud66.com/pricing">Pricing</a>
                                    </li>
                                    <li class="FooterList-item">
                                        <a class="FooterList-link" href="http://cloud66.com/demo">Request a Demo</a>
                                    </li>
                                </ul>
                            </div><!--
                         --><div class="grid__item  one-fifth  lap--one-half palm--one-whole">
                                <h4 class="FooterList-title">
                                    Company
                                </h4>
                                <ul class="FooterList">
                                    <li class="FooterList-item">
                                        <a href="http://cloud66.com/why-cloud66"  class="FooterList-link">
                                            Why Cloud 66?
                                        </a>
                                    </li>
                                    <li class="FooterList-item">
                                        <a class="FooterList-link" href="http://cloud66.com/about">About Us</a>
                                    </li>
                                    <li class="FooterList-item">
                                        <a class="FooterList-link" href="http://www.meetup.com/London-Containers-Meetup/" target="_blank">Events</a>
                                    </li>
                                    <li class="FooterList-item">
                                        <a class="FooterList-link" href="http://blog.cloud66.com/">Blog</a>
                                    </li>
                                    <li class="FooterList-item">
                                        <a class="FooterList-link" href="http://cloud66.com/careers">Careers</a>
                                    </li>
                                    <li class="FooterList-item">
                                        <a class="FooterList-link" href="http://cloud66.com/security">Security</a>
                                    </li>
                                </ul>
                            </div><!--
                         --><div class="grid__item  one-fifth  lap--one-half palm--one-whole">
                                <h4 class="FooterList-title">
                                    Help
                                </h4>
                                <ul class="FooterList">
                                    <li class="FooterList-item">
                                        <a class="FooterList-link" href="http://status.cloud66.com">Status</a>
                                    </li>
                                    <li class="FooterList-item">
                                        <a class="FooterList-link" href="http://help.cloud66.com/" target="_blank">Documentation</a>
                                    </li>
                                    <li class="FooterList-item">
                                        <a class="FooterList-link" href="https://app.cloud66.com/support_tickets/new" target="_blank">Get Support</a>
                                    </li>
                                    <li class="FooterList-item">
                                        <a class="FooterList-link" href="https://cloud66ers.slack.com/" target="_blank">Slack Channel</a>
                                    </li>
                                    <li class="FooterList-item">
                                        <a class="FooterList-link" href="https://vimeo.com/cloud66" target="_blank">Screen Casts &amp; Tutorials</a>
                                    </li>
                                </ul>
                            </div><!--
                         --><div class="grid__item  one-fifth  lap--one-half palm--one-whole">
                                <h4 class="FooterList-title">
                                    Community
                                </h4>
                                <ul class="FooterList">
                                    <li class="FooterList-item">
                                        <a class="FooterList-link" href="http://community.cloud66.com/articles" target="_blank">Read Articles</a>
                                    </li>
                                    <li class="FooterList-item">
                                        <a class="FooterList-link" href="http://community.cloud66.com/questions" target="_blank">Ask a Question</a>
                                    </li>
                                    <li class="FooterList-item">
                                        <a class="FooterList-link" href="mailto:kasia@cloud66.com?subject=Tutorial Suggestion">Suggest a Tutorial</a>
                                    </li>
                                    <li class="FooterList-item">
                                        <a class="FooterList-link" href="mailto:kasia@cloud66.com?subject=Get Paid to Write">Get Paid to Write</a>
                                    </li>
                                </ul>
                            </div><!--
                         --><div class="grid__item  one-fifth  lap--one-half palm--one-whole">
                                <h4 class="FooterList-title">
                                    Connect
                                </h4>
                                <ul class="FooterList">
                                    <li class="FooterList-item">
                                        <a class="FooterList-link" href='http://twitter.com/cloud66' target="_blank">
                                            <i class="fa fa-twitter"></i> Twitter
                                        </a>
                                    </li>
                                    <li class="FooterList-item">
                                        <a class="FooterList-link" href='https://www.facebook.com/Cloud-66-330826340329550/' target="_blank">
                                            <i class="fa fa-facebook"></i> Facebook
                                        </a>
                                    </li>
                                    <li class="FooterList-item">
                                        <a class="FooterList-link" href='https://plus.google.com/+Cloud66App' target="_blank">
                                            <i class="fa fa-google-plus"></i> GooglePlus
                                        </a>
                                    </li>
                                    <li class="FooterList-item">
                                        <a class="FooterList-link" href='https://www.linkedin.com/company/cloud-66' target="_blank">
                                            <i class="fa fa-linkedin"></i> LinkedIn
                                        </a>
                                    </li>
                                    <li class="FooterList-item">
                                        <a class="FooterList-link" href='https://github.com/cloud66' target="_blank">
                                            <i class="fa fa-github"></i> GitHub
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                </div>

                <div class="small-print clear-b SiteFooter-navLegal u-centered">
                   2011-2016 &copy; Cloud 66 Ltd.  <a href="/privacy">Privacy</a><a href="/legal">Legal</a>
                </div>
            </div><!-- /Module container -->
        </footer>
    </div>
</div>