<header class="CoverImage CoverImage--index">
        <h1 class="CoverImage-title">
            The Cloud 66 Blog
        </h1>
        <h2 class="CoverImage-title">
            On the road to multi-platform deployments
        </h2>
</header>

{{!-- <header class="main-header {{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}">
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">DevOps as a Service</h1>
            <h2 class="page-description">
                Everything you need to build, deploy and maintain any application, on any server, via any cloud provider
            </h2>
        </div>
    </div>
</header> --}}
