[submodule "01_curated/FirePress_Casper"]
	path = 01_curated/FirePress_Casper
	url = https://github.com/firepress-org/FirePress_Casper
[submodule "03_approved/FirePress_Casper"]
	path = 03_approved/FirePress_Casper
	url = https://github.com/firepress-org/FirePress_Casper
[submodule "01_go/FirePress_Crisply"]
	path = 01_go/FirePress_Crisply
	url = https://github.com/firepress-org/FirePress_Crisply
[submodule "01_go/FirePress_Attila"]
	path = 01_go/FirePress_Attila
	url = https://github.com/firepress-org/FirePress_Attila
[submodule "01_go/FirePress_Stupendous"]
	path = 01_go/FirePress_Stupendous
	url = https://github.com/firepress-org/FirePress_Stupendous
[submodule "01_go/FirePress_Vapor"]
	path = 01_go/FirePress_Vapor
	url = https://github.com/firepress-org/FirePress_Vapor.git
[submodule "01_go/FirePress_Simply"]
	path = 01_go/FirePress_Simply
	url = https://github.com/firepress-org/FirePress_Simply
[submodule "01_go/FirePress_Klimax1"]
	path = 01_go/FirePress_Klimax1
	url = https://github.com/firepress-org/FirePress_Klimax1
[submodule "01_go/FirePress_Klimax2"]
	path = 01_go/FirePress_Klimax2
	url = https://github.com/firepress-org/FirePress_Klimax2
[submodule "01_go/FirePress_Steam"]
	path = 01_go/FirePress_Steam
	url = https://github.com/firepress-org/FirePress_Steam.git
