

@media (max-width: 991px) {
	.padded-holder {
		padding: 40px;
		background-color: #fff;
	}
	.div-form {
  max-width: 700px;
	}
	.form-wrapper {
  margin-bottom: 0px;
	}
}

@media (max-width: 767px) {
  h1 {
    font-size: 30px;
    line-height: 37px;
  }
}

@media (max-width: 479px) {
  .padded-holder {
    padding: 20px;
  }
}
