<!DOCTYPE html>
<html>
<head>
    {{> layout_head}}
</head>
<body class="{{body_class}} ms-body">

{{navigation}}

<main class="ms-page">

    {{! Everything else gets inserted here }}
    {{{body}}}

</main>

{{> layout_footer}}

</body>
</html>
