
<section class="Section Section--dividerTop">
	<div class="Module u-textCentered">
		<p class="u-textMuted u-textPadded  mobile-is-hidden">
			Everything you need to build, manage and maintain containers in production on your own servers and any cloud
		</p>
		<h5 class="Module-title Module-title--relatedItem">
			Try Cloud 66 &mdash; 14 Days Free Trial, No credit card required
		</h6>
	</div>
	<div class="grid">
		<div class="grid__item one-half palm--one-whole lap--one-whole" id="get-started-btn">
			<a class="Button Button--xlarge Button--pri u-fullWidth" href="https://app.cloud66.com/users/sign_up">
				Get Started Now
			</a>
		</div><!--
	 --><div class="grid__item one-half palm--one-whole lap--one-whole">
			<a class="Button Button--xlarge Button--pri u-fullWidth Button--outlined" href="http://www.cloud66.com/demo">
				Request a Demo
			</a>
		</div>
	</div>
</section>
