<div id="js_banner" class="Banner Banner--fixed">
    <nav class="NavGlobal NavGlobal--fixed">
        <a class="Banner-logo" rel="home" href="http://cloud66.com"></a>

        <ul class="NavPrimary  NavPrimary--marketing  u-objLeft">
            <li class="NavPrimary-item">
                <a href="http://cloud66.com/why-cloud66"  class="NavPrimary-link active">
                    Why Cloud 66?
                </a>
            </li>
            <li class="NavPrimary-item">
                <a href="http://cloud66.com/products"  class="NavPrimary-link">
                    Products
                </a>
            </li>
            <li class="NavPrimary-item">
                <a href="http://cloud66.com/features"  class="NavPrimary-link">
                    Features
                </a>
            </li>
            <li class="NavPrimary-item">
                <a href="http://cloud66.com/pricing"   class="NavPrimary-link">
                    Pricing
                </a>
            </li>
            <li class="NavPrimary-item">
                <a class="NavPrimary-link is-active" href="/">Blog</a>
            </li>
        </ul>


        <ul class="NavPrimary  NavPrimary--app-  u-objRight">
            <li class="NavPrimary-item">
                <a href="https://app.cloud66.com/users/sign_in" class="NavPrimary-link--login">Log In</a>
            </li>
            <li class="NavPrimary-item NavPrimary-item--button NavPrimary-item--lap">
                <a class="Button Button--pri NavPrimary-button" href="https://app.cloud66.com/users/sign_up">Sign Up</a>
            </li>
            <li class="NavPrimary-item NavPrimary-item--mobile NavPrimary-item--button">
                <a class="Button  Button--mobile NavPrimary-button icon-menu" href="#" id="js_toggle_side_menu">
                    <span class="word">Menu</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
