<section class="ms-share">
    <h4 class="ms-share__title sr-only">Weiterempfehlen</h4>
        <a class="ms-share__link ms-share__link--twitter"
           href="https://twitter.com/intent/tweet?via=m_scharl&text={{encode title}}&url={{url absolute="true"}}"
           onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
            <i class="fa fa-twitter"></i>
            Twittern
        </a>
        <a class="ms-share__link ms-share__link--facebook"
           href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
           onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
            <i class="fa fa-facebook-square"></i>
            Teilen
        </a>
        <a class="ms-share__link ms-share__link--google-plus"
           href="https://plus.google.com/share?url={{url absolute="true"}}"
           onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
            <i class="fa fa-google-plus"></i>
            Teilen
        </a>
</section>
