<header class="ms-splash">
    <h1 class="ms-splash__headline">
        <span class="sr-only">Michael Scharl &ndash; a webdevelopers personal blog</span>
    </h1>
    <p class="ms-splash__jobtitle">
        <span class="sr-only">Fullstack Webdeveloper</span>
    </p>

    <nav class="ms-splash__menu">
        <ul class="list-inline">
            <li><a href="https://blog.michael.scharl.me" title="My personal Blog" class="ms-splash__button">
                <i class="fa fa-newspaper-o"></i>
                <span class="sr-only">Blog</span>
            </a></li>
            <li><a href="https://github.com/mscharl" title="My work on Github" class="ms-splash__button">
                <i class="fa fa-fw fa-github"></i>
                <span class="sr-only">Github</span>
            </a></li>
            <li><a href="https://twitter.com/m_scharl" title="Me on Twitter" class="ms-splash__button">
                <i class="fa fa-fw fa-twitter"></i>
                <span class="sr-only">Twitter</span>
            </a></li>
            <li><a href="https://codepen.io/mscharl" title="Showcases on Codepen" class="ms-splash__button">
                <i class="fa fa-fw fa-codepen"></i>
                <span class="sr-only">Codepen</span>
            </a></li>
        </ul>
    </nav>
</header>
